@import url('https://fonts.googleapis.com/css2? família = Rokkitt: wght @ 500 &família = Trocchi & display = swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rokkitt';
    text-align: center;
    box-sizing: border-box; /*cria todos os elementos dentro da espaço*/
}

h1{
    font-family: 'Trocchi';
    font-size: 34px;
    padding: 10px;
        
}

.main{
    text-align: center;
    text-align: justify;
    font-size: 20px;
    padding: 30px 80px;
}

header, footer{
    width: 100%;
    height: 80px;
    padding: 15px;
    background-color: #645b49;
}

#fundo{
    background-image: url(img/ImagemSL.jpg);
    /*("http://www2.al.rs.gov.br/filerepository/fotografias/2014/7/8/170669_G.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
       
}

ul {
 list-style: none;/*remove pontos de bala de <ul>*/
 font-size: 20px;
 padding: 15px;
}

#rodape {
    text-align: center;
    padding: 10px;
}

.icones {
    padding: 10px;
    width: 60px;
    height: 60px;
}
